.row {
	margin-left: 1.25rem;
}

.row-posters {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 1.25rem;

	/* for firefox hiding scrollbar */
	scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.row-posters::-webkit-scrollbar {
	display: none;
}

.row-poster {
	max-height: 6.25rem;
	object-fit: contain;
	margin-right: 0.75rem;
	transition: transform 450ms;
}
.row-poster:hover {
	transform: scale(1.08);
	opacity: 1;
}
.row-poster-large {
	max-height: 16rem;
}
.row-poster-large:hover {
	transform: scale(1.09);
}
