.login {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.logo {
	position: fixed;
}

.login-btn {
	position: fixed;
	right: 1.25rem;
	top: 1.25rem;
	padding: 0.625rem 1.25rem;
	font-size: 1rem;
	background-color: #ee3e34;
	color: #fff;
	font-weight: 600;
	border: none;
	cursor: pointer;
}
.gradient-overlay {
	width: 100%;
	z-index: 1;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(
		to top rgba(0, 0, 0, 0.8) 0 rgba(0, 0, 0) 60% rgba(0, 0, 0, 0.8) 100
	);
}

.login-content {
	position: absolute;
	width: 100%;
	top: 20%;
	z-index: 10;
	padding: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 0;
	right: 0;
}
.login-content > h1 {
	font-size: 4.25rem;
	margin-bottom: 1.25rem;
}
.login-content > h2 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1.25rem;
}
.login-content > h3 {
	font-size: 1.3rem;
	font-weight: 400;
}
.login-input {
	margin: 20px;
}
.login-form {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form > input {
	padding: 1.25rem;
	outline-width: 0;
	width: 30%;
	border: none;
	font-size: 1rem;
	max-width: 37.5rem;
}
.getstarted-btn {
	font-size: 1rem;
	padding: 1.25rem 2.5rem;
	background-color: #ee3e34;
	color: #fff;
	border: none;
	font-weight: 600;
	cursor: pointer;
}
