* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
	font-family: 'Poppins', sans-serif;
}
html,
body {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.j-between {
	justify-content: space-between;
}
.j-center {
	justify-content: center;
}
.a-center {
	align-items: center;
}
.wrap {
	flex-wrap: wrap;
}

.gap-2 {
	gap: 1rem;
	column-gap: 1rem;
}
